* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 15vh;
  background: rgb(102, 153, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  padding: 10px 0 10px 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header__input {
  margin-left: 50px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}
.header__inputbtn {
  padding: 7px 10px 7px 10px;
  margin-left: 5px;
  border: 0;

  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  margin-top: 20px;
  height: 80vh;
}
.container__favorites {
  width: 30%;
  padding: 10px 20px 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px;
  border-right: 1px solid black;
}
.container__favorites--title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  grid-column: 1 / 3;
}
.container__favorites--resetbtn {
  width: 80px;
  padding: 5px;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
  margin-bottom: 10px;
}
.container__favorites--shows {
  list-style: none;
  text-align: center;
}
.list-style {
  padding: 10px 0;
  position: relative;
}
.list-style__image {
  height: 150px;
  width: 100px;
}
.list-style__title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 10px;
}
.list-style__btn {
  border-radius: 10px;
  border: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 12px;
  background: rgb(102, 153, 211);
  font-weight: bold;
}
.container__shows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 70%;
  justify-items: center;
  row-gap: 20px;
}
.container__shows__show {
  margin: 20px 10px;
  background-color: rgb(102, 153, 211);
  width: 140px;
  height: 260px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.container__shows__show--image-style {
  height: 150px;
  width: 100px;
  padding-top: 10px;
}
.container__shows__show--title {
  padding: 15px 5px 0 5px;
}

.is-fav {
  color: white;
  background-color: red;
}
